@model BVNetwork.Attend.Models.ViewModels.MyPageBlockViewModel<BVNetwork.Attend.Models.Blocks.MyPageBlock>
    <div class="row">
        <div class="col-md-12">
            <h3 class="alert alert-warning">@Html.Translate("/attend/edit/registrationCancelled")</h3>
        </div>
    </div>
